//out:false
// Navigation code here
body {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar {
  width: 100vw;
  .flex(column, center, center);

  h1 {
    text-align: center;
    font-size: 40px;
    width: 100vw;
  }

  nav {
    width: 40%;
    .flex(row, space-around, center);

    @media @phone {
      width: 100%;
    }

    nav-item {
      line-height: 40px;
      font-size: 15px;
    }
  }
}